<h1>Entries</h1>
<table class='table'>
  <tr>
    <th>Started At</th>
    <th>URL</th>
    <th>Duration</th>
    <th>Project</th>
    <th>Application Name</th>
    <th>Application Bundle ID</th>
  </tr>

  <% @entries.each do |entry| %>

    <tr>
      <td><%= entry.started_at.strftime('%d/%m/%y %H:%M') %></td>
      <td><%= entry.url %></td>
      <td><%= as_hours_and_minutes_and_seconds(entry.duration) %></td>
      <td><%= entry.project_name %></td>
      <td><%= entry.application_name %></td>
      <td><%= entry.application_bundle_id %></td>
    </tr>
  <% end %>
</table>
