  <%= form_for(@report, method: :get, html: {id: 'report_form'}) do |form| %>
    <div class="input-group pull-right">
      <%= form.text_field(:range, class: 'form-control') %>
    </div>
  <% end %>

  <%= pie_chart @report.run %>

<table class='table'>
  <tr>
    <th>Project</th>
    <th>Time</th>
  </tr>
  <% @report.run.each do |project, time| %>
    <tr>
      <td><%= project %></td>
      <td><%= as_hours_and_minutes(time) %></td>
    </tr>
  <% end %>
</table>
