<div class="row">
  <%= form_for(@report, method: :get, html: {id: 'report_form'}) do |form| %>
    <div class="input-group pull-right">
      <%= form.text_field(:range, class: 'form-control') %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8">
    <%= column_chart @report.run_time_grouped, stacked: true, library: { vAxis: { format: @report.format_string }} %>
  </div>
  <div class="col-md-4">
    <%= pie_chart @report.run %>
  </div>
</div>

<table class='table'>
  <tr>
    <th>Project</th>
    <th>Time</th>
  </tr>
  <% @report.run.each do |project, time| %>
    <tr>
      <td><%= project %></td>
      <td><%= as_hours_and_minutes(time) %></td>
    </tr>
  <% end %>
</table>
