<!DOCTYPE html>
<html>
<head>
  <title>LapsusRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/flash_messages' if flash.present? %>

<nav class="navbar navbar-default" role="navigation">
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to 'Containers', containers_path %></li>
  <li><%= link_to 'Projects', projects_path %></li>
  <li><%= link_to 'Entries', entries_path %></li>
</ul>
</nav>
<%= yield %>

</body>
</html>
