<!DOCTYPE html>
<html lang='en'>
<head>
<title>LapsusRails</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function() {
  $('#report_range').daterangepicker({
    format: 'DD-MM-YYYY',
    opens: 'left',
    ranges: {
      'Today': [new Date(), new Date()],
      'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
      'Last 7 Days': [moment().subtract(6, 'days'), new Date()],
      'Last 30 Days': [moment().subtract(29, 'days'), new Date()],
      'This Month': [moment().startOf('month'), moment().endOf('month')],
      'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
    },
    maxDate: new Date()
  },
  function(start, end) {
    $('#report_form').submit();
  });
});
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">

<nav class="navbar navbar-default" role="navigation">
  <% if user_signed_in? %>
    <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Times', reports_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Entries', entries_path %></li>
    </ul>
  <% end %>

  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
  <ul class="nav navbar-nav navbar-right">
      <li><%= link_to current_user.email, edit_user_registration_path, :class => 'navbar-link' %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  </ul>
    <% else %>
  <ul class="nav navbar-nav navbar-left">
      <li><%= link_to 'Sign up', new_user_registration_path, :class => 'navbar-link' %></li>
      <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
  </ul>
    <% end %>
  </p>
</nav>

<%= render 'shared/flash_messages' if flash.present? %>

<%= yield %>

</div>
</body>
</html>
